<div>{{test}}</div>
<div layout="column" flex="90">
    <md-list>
        <div layout="row" flex="100">
            <div loyout="column" flex="25">
                <h2>Name</h2>
            </div>
            <div loyout="column" flex="25">
                <h2>Profit</h2>
            </div>
            <div loyout="column" flex="20">
                <h2>Children</h2>
            </div>
            <div loyout="column" flex="10">
                <h2>Sum</h2>
            </div>
            <div loyout="column" flex="20">
                <h2>Parent</h2>
            </div>
        </div>
        <md-list-item ng-repeat="company in companies">
            <div layout="row" flex="100" style="border: 1px solid black">
                <div loyout="column" flex="25">
                    {{company.name}}
                </div>
                <div loyout="column" flex="25">
                    {{company.profit}}
                </div>
                <div loyout="column" flex="20">
                    <div ng-repeat="children in company.childrenCompanies">
                        <div loyout="column" flex="50">
                            {{children.name}}
                        </div>
                        <div loyout="column" flex="50">
                            {{children.profit}}
                        </div>
                    </div>
                </div>
                <div loyout="column" flex="10">
                    <div loyout="column" flex="100">
                        {{company.sum + company.profit}}
                    </div>
                </div>
                <div loyout="column" flex="20">
                    <div loyout="column" flex="50">
                        {{company.parentCompanies.name}}
                    </div>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>
<md-input-container class="md-block" flex-gt-xs>
    <label>Name</label>
    <input ng-model="newCompany.name">
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>profit</label>
    <input ng-model="newCompany.profit">
</md-input-container>

<md-checkbox ng-model="filial" aria-label="Checkbox 1">
    This company is children: {{filial}}
</md-checkbox>

<div class="md-padding" ng-cloak ng-if="filial">
    <div layout="row">
        <md-input-container>
            <label>Company</label>
            <md-select ng-model="newCompany.parentCompanies">
                <md-optgroup label="Company">
                    <md-option ng-value="company" ng-repeat="company in companies">{{company.name}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>
</div>

<button ng-click="save()">Add company</button>
