<div class="header">
<div class="headerPanel1"></div>
    <div class="headerPanel">CRM-Company</div>

            <md-content class="md-padding">
            <md-nav-bar  md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('app.main')" ui-sref="app.main">Tree Company</md-nav-item>
                <md-nav-item md-nav-click="goto('app.company')" ui-sref="app.company">Add New Company</md-nav-item>
            </md-nav-bar>

            <div class="ext-content">

                <ui-view></ui-view>

            </div>

        </md-content>







</div>